/node_modules/
/dist/
/.parcel-cache/
/coverage/
/output/

# 프로젝트 제외 경로
/fixtures/cart.js
/fixtures/categories.js
/fixtures/index.js
/fixtures/products.js
/src/components/cart/CartView.js
/src/components/cart/CartView.test.js
/src/components/cart/LineItemView.js
/src/components/cart/LineItemView.test.js
/src/components/cart/Options.js
/src/components/cart/Options.test.js
/src/components/LoginFrom/index.js
/src/components/product-detail/form/AddToCartForm.js
/src/components/product-detail/form/AddToCartForm.test.js
/src/components/product-detail/form/Option.js
/src/components/product-detail/form/Option.test.js
/src/components/product-detail/form/Options.js
/src/components/product-detail/form/Options.test.js
/src/components/product-detail/form/Price.js
/src/components/product-detail/form/Price.test.js
/src/components/product-detail/form/Quantity.js
/src/components/product-detail/form/Quantity.test.js
/src/components/product-detail/form/SubmitButton.js
/src/components/product-detail/form/SubmitButton.test.js
/src/components/product-detail/form/types.js
/src/components/product-detail/Description.js
/src/components/product-detail/Description.test.js
/src/components/product-detail/Images.js
/src/components/product-detail/Images.test.js
/src/components/product-detail/ProductDetail.test.js
/src/components/product-list/Product.js
/src/components/product-list/Products.js
/src/components/ui/Button.js
/src/components/ui/Button.test.js
/src/components/ui/ComboBox.js
/src/components/Greeting.js
/src/components/Greeting.test.js
/src/components/Header.js
/src/components/Header.test.js
/src/components/Layout.js
/src/components/TextBox.js
/src/hooks/useAccessToken.js
/src/hooks/useFetchCart.js
/src/hooks/useFetchCategories.js
/src/hooks/useFetchProduct.js
/src/hooks/useFetchProducts.js
/src/hooks/useLoginForm.js
/src/hooks/useProductDetailStore.js
/src/hooks/useProductFormStore.js
/src/mocks/handlers.js
/src/mocks/server.js
/src/pages/CartPage.js
/src/pages/HomePage.js
/src/pages/LoginPage.js
/src/pages/OrderPage.js
/src/pages/ProductDetailPage.js
/src/pages/ProductListPage.js
/src/services/ApiService.js
/src/services/ApiService.test.js
/src/stores/CartStore.js
/src/stores/CategoriesStore.js
/src/stores/LoginStore.js
/src/stores/ProductDetailStore.js
/src/stores/ProductFormStore.js
/src/stores/ProductFormStore.test.js
/src/stores/ProductsStore.js
/src/styles/defaultTheme.js
/src/styles/GlobalStyle.js
/src/styles/Theme.js
/src/utils/numberFormat.js
/src/utils/numberFormat.test.js
/src/main.js
/src/routes.js
/src/routes.test.js
/src/setupTests.js
/src/test-helpers.js
/src/types.js
/codecept.conf.js